html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  overflow: hidden;
}

#browser-chrome {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#browser-tabs {
  position: relative;
  z-index: 100;
}

#browser-navbar {
  position: relative;
  height: 35px;
  z-index: 100;
}

#browser-page {
  position: absolute;
  top: 65px;  /* Below tabs + navbar */
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/* Only visible pages should be displayed */
#browser-page.visible {
  display: block;
}

#browser-page.hidden {
  display: none;
}

#draghandle {
  -webkit-app-region: drag;
  height: 10px;
}